/* <!-- <style>
    /* span */
/* .cl{ */
/* color: white;
            background:blue;
            display: block;
            margin: 50px;
            border: 10px solid red;
            font-weight: bold;
            margin.allside:50px; */
/* } */
/* </style> */
/* <b class="cl">hello text</b>/ */
/* <span class="cl">this is span</span> --> */


/* <!-- ---------------------------------------------------------------------------------- --> */
